Resources/public/demo.js            -diff
Resources/public/demo.js.map        -diff
Resources/public/demo.css           -diff
Resources/public/demo.css.map       -diff
Resources/public/platform.js        -diff
Resources/public/platform.js.map    -diff
Resources/public/platform.css       -diff
Resources/public/platform.css.map   -diff
