/.idea/
/vendor/
/nbproject/
/phpunit.xml
/composer
/.php_cs.cache
/phpda.svg
.DS_Store
Thumbs.db

node_modules

Tests/Fixtures/TestProject/web/*
!Tests/Fixtures/TestProject/web/app.php

Tests/Fixtures/TestProject/node_modules
Tests/Fixtures/TestProject/var
Tests/Fixtures/TestProject/ProjectBundle/DataFixtures
Tests/Fixtures/TestProject/ProjectBundle/Entity
