@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins";

// === Mixins ===
@mixin header-font() {
    font-family: Dosis, $font-family-sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}

// === Scaffold ===
@font-face {
    font-family: Dosis;
    src: url(../font/Dosis-SemiBold.ttf);
}

h1, h2, h3, h4, h5, h6 {
    @include header-font();
}

legend {
    @include header-font();
    font-size: $font-size-h4;
}

.navbar, .nav {
    @include header-font();
}

.container.error {
    text-align: center;
    margin-top: 1em;
}

header .navbar {
    margin-bottom: 0;
    @include gradient-vertical(lighten($gray-dark, 10%), $gray-dark);
}

footer {
    margin-top: $line-height-computed;

    .footer-content {
        padding-left:15px;
        padding-right:15px;
        border-top: 1px solid darken($gray-lighter, 10%);
        @include gradient-vertical($gray-lighter, darken($gray-lighter, 10%));
        @include header-font();
    }

    &.container-fluid {
        padding-left: 0;
        padding-right: 0;
    }
}

// === Blocks ===
.headline {
    margin-bottom: 20px;
    padding: 15px 0 10px 0;
    border-bottom: 1px solid darken($gray-lighter, 10%);
    @include gradient-vertical(darken($gray-lighter, 10%), $gray-lighter);
}

.headline .breadcrumb {
    background: none;
    margin: .4em 0 0;
    padding: 0;
}

.headline h1 {
    font-size: 18px;
    font-weight: normal;
    line-height: 26px;
    padding: 0;
    margin: 0;
}

.headline .headline-side {
    text-align: right;

    @media screen and (max-width: $screen-xs-max) {
        text-align: left;
    }
}

.footer-content {
    padding: 10px;
    border-top: 1px solid darken($gray-lighter, 10%);
    @include gradient-vertical($gray-lighter, darken($gray-lighter, 10%));
    @include header-font();
}

// === Dropdowns ===
.dropdown-menu > li > input[type=submit] {
    border: none;
    background: none;
    min-width: 100%;
    text-align: left;

    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: $line-height-base;
    color: $dropdown-link-color;
    white-space: nowrap; // prevent links from randomly breaking onto new lines

    &:hover,
    &:focus {
        text-decoration: none;
        color: $dropdown-link-hover-color;
        background-color: $dropdown-link-hover-bg;
    }
}

.dropdown-menu > .active > input[type=submit] {
    &,
    &:hover,
    &:focus {
        color: $dropdown-link-active-color;
        text-decoration: none;
        outline: 0;
        background-color: $dropdown-link-active-bg;
    }
}

// === Tables ===
table.table-auto {
    width: auto;
}

// === Classes ===
.yes {
    @extend .glyphicon;
    @extend .glyphicon-ok;
    @extend .text-success;
}

.no {
    @extend .glyphicon;
    @extend .glyphicon-remove;
    @extend .text-danger;
}

// === Components ===
.imatic-view-table {
    table {
        th {
            text-align: center;
        }
        td.batch-selector, th.batch-selector-switch {
            text-align: center;
        }
        td, th {
            vertical-align: middle !important;

            &.text {
                text-align: left;
            }
            &.number, &.money, &.date, &.datetime {
                text-align: right;
            }
            &.boolean, &.actions {
                text-align: left;
                * {
                    text-align: right;
                }
            }
        }
        thead {
            a.sorted {
                &.desc:after {
                    content: "▾";
                }
                &.asc:after {
                    content: "▴";
                }
            }
        }
    }

    ul.pagination {
        margin-top: 0;
        margin-bottom: 0;
    }

    .table-exports {
        text-align: right;

        @media screen and (max-width: $screen-xs-max) {
            text-align: left;
        }
    }

    .table-footer > div {
        margin-bottom: $padding-base-vertical;
    }
}

.imatic-view-show {
    table {
        td, th {
            text-align: left;
        }
    }
}

.imatic-view-filter {
    padding-top: $padding-base-vertical;
    padding-bottom: $padding-base-vertical;
}

.imatic-view-filter legend {
    cursor: pointer;
}

.imatic-view-filter.imatic-view-initial-closed .imatic-view-filter-content {
    display: none;
}

.panel-app {
    @include panel-variant($panel-default-border, $white, $gray-dark, $orange);

    .panel-heading {
        border-width: 2px;
        @include gradient-vertical(lighten($gray-dark, 10%), $gray-dark);

        h1 {
            margin: 0;
            padding: 0;
        }
    }
}

// === Modals ===
.modal.debug-exception {
    .modal-content {
        border: 3px solid fade($brand-danger, 80%);
    }
    .modal-body {
        overflow-x: auto;
    }
    .modal-title {
        color: $brand-danger;
    }
}

@media (min-width: 768px) {
    .modal-dialog.modal-max {
        width: 90%; /* fallback */
        width: calc(100% - 60px) !important;
    }
}

// === Select2 ===
.select2-container {
    width: 100% !important;
    padding: 0;
}
.select2-search__field {
    width: 100% !important;
}
.select2-close-mask{
    z-index: 10099;
}
.select2-dropdown{
    z-index: 10051;
}

// === Alerts ===
.alert-error {
    @include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text);
}

// Disable border radius for select
select {
    -webkit-appearance: none;
}
