@import "~bootstrap/scss/mixins";
@import "~font-awesome/scss/mixins";
@import "~font-awesome/scss/variables";

// === Mixins ===
@mixin header-font() {
    font-family: Dosis, $font-family-sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}

// === Scaffold ===
@font-face {
    font-family: Dosis;
    src: url(../font/Dosis-SemiBold.ttf);
}

h1, h2, h3, h4, h5, h6 {
    @include header-font();
}

legend {
    @include header-font();
    font-size: $h4-font-size;
}

.navbar, .nav {
    @include header-font();
}

.container.error {
    text-align: center;
    margin-top: 1em;
}

header .navbar {
    margin-bottom: 0;
    @include gradient-y(lighten(theme-color('dark'), 10%), theme-color('dark'));
}

footer {
    margin-top: $font-size-base * $line-height-base;

    .footer-content {
        padding-left:15px;
        padding-right:15px;
        border-top: 1px solid darken($gray-200, 10%);
        @include gradient-y($gray-200, darken($gray-200, 10%));
        @include header-font();
    }

    &.container-fluid {
        padding-left: 0;
        padding-right: 0;
    }
}

// === Blocks ===
.headline {
    margin-bottom: 20px;
    padding: 15px 0 10px 0;
    border-bottom: 1px solid darken($gray-200, 10%);
    @include gradient-y(darken($gray-200, 10%), $gray-200);
}

.headline .breadcrumb {
    background: none;
    margin: .4em 0 0;
    padding: 0;
}

.headline h1 {
    font-size: 18px;
    font-weight: normal;
    line-height: 26px;
    padding: 0;
    margin: 0;
}

.headline .headline-side {
    text-align: right;

    @media screen and (max-width: breakpoint-max('xs')) {
        text-align: left;
    }
}

.footer-content {
    padding: 10px;
    border-top: 1px solid darken($gray-200, 10%);
    @include gradient-y($gray-200, darken($gray-200, 10%));
    @include header-font();
}

// === Dropdowns ===
.dropdown-menu > li > input[type=submit] {
    border: none;
    background: none;
    min-width: 100%;
    text-align: left;

    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: $line-height-base;
    color: $dropdown-link-color;
    white-space: nowrap; // prevent links from randomly breaking onto new lines

    &:hover,
    &:focus {
        text-decoration: none;
        color: $dropdown-link-hover-color;
        background-color: $dropdown-link-hover-bg;
    }
}

.dropdown-menu > .active > input[type=submit] {
    &,
    &:hover,
    &:focus {
        color: $dropdown-link-active-color;
        text-decoration: none;
        outline: 0;
        background-color: $dropdown-link-active-bg;
    }
}

// === Tables ===
table.table-auto {
    width: auto;
}

// === Classes ===
.yes {
    @include fa-icon();
    content: $fa-var-check;
    @extend .text-success;
}

.no {
    @include fa-icon();
    content: $fa-var-times;
    @extend .text-danger;
}

// === Components ===
.imatic-view-table {
    table {
        th {
            text-align: center;
        }
        td.batch-selector, th.batch-selector-switch {
            text-align: center;
        }
        td, th {
            vertical-align: middle !important;

            &.text {
                text-align: left;
            }
            &.number, &.money, &.date, &.datetime {
                text-align: right;
            }
            &.boolean, &.actions {
                text-align: left;
                * {
                    text-align: right;
                }
            }
        }
        thead {
            a.sorted {
                &.desc:after {
                    content: "▾";
                }
                &.asc:after {
                    content: "▴";
                }
            }
        }
    }

    ul.pagination {
        margin-top: 0;
        margin-bottom: 0;
    }

    .table-exports {
        text-align: right;

        @media screen and (max-width: breakpoint-max('xs')) {
            text-align: left;
        }
    }

    .table-footer > div {
        margin-bottom: spacer(2);
    }
}

.imatic-view-show {
    table {
        td, th {
            text-align: left;
        }
    }
}

.imatic-view-filter {
    padding-top: spacer(2);
    padding-bottom: spacer(2);
}

.imatic-view-filter legend {
    cursor: pointer;
}

.imatic-view-filter.imatic-view-initial-closed .imatic-view-filter-content {
    display: none;
}

// UNKNOWN EQUIVALENTS
//.panel-app {
//    @include panel-variant($panel-default-border, $white, theme-color('dark'), $orange);
//
//    .panel-heading {
//        border-width: 2px;
//        @include gradient-y(lighten(theme-color('dark'), 10%), theme-color('dark'));
//
//        h1 {
//            margin: 0;
//            padding: 0;
//        }
//    }
//}

// === Modals ===
.modal.debug-exception {
    .modal-content {
        border: 3px solid fade(theme-color('danger'), 80%);
    }
    .modal-body {
        overflow-x: auto;
    }
    .modal-title {
        color: theme-color('danger');
    }
}

@media (min-width: 768px) {
    .modal-dialog.modal-max {
        width: 90%; /* fallback */
        width: calc(100% - 60px) !important;
    }
}

// === Select2 ===
.select2-container {
    width: 100% !important;
    padding: 0;
}
.select2-search__field {
    width: 100% !important;
}
.select2-close-mask{
    z-index: 10099;
}
.select2-dropdown{
    z-index: 10051;
}

// === Alerts ===
.alert-error {
    @include alert-variant(theme-color-level('danger', $alert-bg-level), theme-color-level('danger', $alert-border-level), theme-color-level('danger', $alert-color-level));
}

// Disable border radius for select
select {
    -webkit-appearance: none;
}
