/* Busy generic */
.imatic-view-ajaxify-busy {
    opacity: 0.5;
}
.imatic-view-ajaxify-busy,
.imatic-view-ajaxify-busy * {
    cursor: wait !important;
}
.imatic-view-ajaxify-busy .imatic-view-ajaxify-busy {
    opacity: 1;
}

/* Widgets */
a[data-action] {
    cursor: pointer;
}
