{% from 'ImaticViewBundle:Component:flash.html.twig' import session_message %}
{% import 'ImaticViewBundle:Component:menu.html.twig' as menu %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    {% block stylesheets %}
        {%- stylesheets
        'bundles/imaticview/less/style.less'
        'vendor/jquery-ui/themes/flick/jquery-ui.css'
        'vendor/select2/select2.css'
        output='css/style.css' -%}
        <link rel="stylesheet" href="{{ asset_url }}" media="screen" type="text/css">
        {% endstylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% javascripts
        'vendor/jquery/jquery.js'
        'vendor/jquery-ui/ui/jquery-ui.js'
        'vendor/jquery-ui/ui/i18n/jquery-ui-i18n.js'
        'vendor/bootstrap/js/affix.js'
        'vendor/bootstrap/js/alert.js'
        'vendor/bootstrap/js/button.js'
        'vendor/bootstrap/js/carousel.js'
        'vendor/bootstrap/js/collapse.js'
        'vendor/bootstrap/js/dropdown.js'
        'vendor/bootstrap/js/modal.js'
        'vendor/bootstrap/js/tooltip.js'
        'vendor/bootstrap/js/popover.js'
        'vendor/bootstrap/js/scrollspy.js'
        'vendor/bootstrap/js/tab.js'
        'vendor/bootstrap/js/transition.js'
        'vendor/select2/select2.js'
        'bundles/imaticview/ts/component.ts'
        'bundles/imaticview/ts/init-component.ts'
        output='js/javascript.js' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
        {% endjavascripts %}
    {% endblock %}

    <title>{% block title %}{% endblock %}</title>

    {% block metas -%}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

</head>

<body>

{% block body %}

    <div class="container">
        {% block action %}{% endblock %}
    </div>

{% endblock %}

</body>
</html>
