{% extends '@ImaticView/Layout/base.html.twig' %}

{% block headline %}
    {{ 'Homepage'|trans({}, 'ImaticViewBundle') }}
{% endblock %}

{% block container %}
    <div class="jumbotron">
        <h1>Imatic IS Platform!</h1>

        <p>Welcome in Imatic IS Platform default page</p>
    </div>
{% endblock %}
