{% extends '::base.html.twig' %}

{% block headline %}
{{ 'Homepage'|trans({}, 'ImaticViewBundle') }}
{% endblock %}

{% block container %}

    <br>
    <div class="hero-unit">
        <h1>Imatic IS Platform!</h1>

        <p>Welcome in Imatic IS Platform default page</p>

        <p><a class="btn btn-primary btn-large">Learn more</a></p>
    </div>

{% endblock %}
