// === Mixins ===
.header-font {
  font-family: Dosis, @sansFontFamily;
  font-weight: normal;
  text-transform: uppercase;
}

// Widget component
.widget {
  background-color: @white;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .3);
  *border: 1px solid #999; /* IE6-7 */
  .border-radius(6px);
  .box-shadow(0 3px 7px rgba(0,0,0,0.3));
  .background-clip(padding-box);
}

.widget-header {
  .border-top-radius(6px);
  border-bottom: 2px solid @orange;
  padding: 9px 15px;
  #gradient > .vertical(lighten(@grayDark, 10%), @grayDark);
  color: @white;
  .close {
    margin-top: 2px;
  }
  h1, h2, h3 {
    margin: 0;
    line-height: 1.3em;
  }

  h3 {
    margin: 0;
    line-height: 30px;
  }
}

.widget-body {
  padding: 15px;
}

.widget-footer {
  .modal-footer();
}

.fifty {
  width: 50%;
}

.input-big {
  font-size: 200%;
  height: 45px;
}

.input-block {
  display: block;
  width: 100%;
  .box-sizing(border-box);
}

.widget-simple-form {
  .widget-body input {
    .input-big;
    .input-block;
  }
}

// === Scarfold ===
@font-face {
  font-family: Dosis;
  src: url(../../bundles/imaticview/font/Dosis-SemiBold.ttf);
}

h1, h2, h3, h4, h5, h6 {
  .header-font()
}

.navbar, .nav {
  .header-font()
}

.nav-header {
  font-size: 13px;
}

// Space between buttons in compressed mode
.btn {
  margin-right: 2px;
  margin-left: 2px;
}

.btn-group .btn {
  margin-right: 0;
  margin-left: 0;
}

// === Blocks ===
.headline {
  margin-bottom: 20px;
  padding: 15px 0 10px 0;
  border-bottom: 1px solid darken(@grayLighter, 10%);
  #gradient > .vertical(darken(@grayLighter, 10%), @grayLighter);
}

// 100% width headline on small screens
@media (max-width: 767px) {
  .headline {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.headline h1 {
  font-size: 20px;
  font-weight: normal;
  line-height: 26px;
  padding: 0;
  margin: 0;
}

.footer-content {
  padding: 10px;
  border-top: 1px solid darken(@grayLighter, 10%);
  #gradient > .vertical(@grayLighter, darken(@grayLighter, 10%));
  .header-font()
}

// === Variables ===
@baseFontSize: 13px;

@linkColor: #08c;
@linkColorHover: darken(@linkColor, 15%);

@navbarInverseBorder: @orange;
@navbarInverseBackground: @grayDark;
@navbarInverseBackgroundHighlight: lighten(@grayDark, 10%);
@navbarInverseLinkColor: @white;
@navbarInverseLinkColorHover: @orange;

@iconSpritePath: "../../components/bootstrap/img/glyphicons-halflings.png";
@iconWhiteSpritePath: "../../components/bootstrap/img/glyphicons-halflings-white.png";