{% extends 'ImaticViewBundle:Demo/Ajaxify:layout.html.twig' %}

{% block action %}

    <h1>Modal test title</h1>

    <a href="{{ path('imatic_view_demo_ajaxify_ajaxtest') }}">load</a>

    <form action="{{ path('imatic_view_demo_ajaxify_ajaxtest') }}">
        <input type="submit" value="I am a form">
    </form>


{% endblock %}