{% extends 'ImaticViewBundle:Demo/Ajaxify:layout.html.twig' %}

{% block action %}

    <a data-target="#test-container" href="{{ path('imatic_view_demo_ajaxify_ajaxtest') }}">load</a>

    <div id="test-container" data-role="container">
        initial
    </div>

{% endblock %}