{% extends '::base.html.twig' %}

{% block action %}

    <a data-target="#test-component" href="{{ path('imatic_view_demo_ajaxtest') }}">load</a>

    <div id="test-component" data-role="component">
        initial
    </div>

{% endblock %}