{#
    variables:
    - form
    - form_theme
#}

{% block form %}
    {% form_theme form form_theme|default('bootstrap_4_layout.html.twig') %}

    <div class="imatic-view-form">
        {{ form(form, {attr: {novalidate: 'novalidate' } }) }}
        {{ imatic_form_javascript(form) }}
    </div>
{% endblock %}
