{#
    variables:
    - form
#}

{% block form %}
    <div class="imatic-view-form form-horizontal">
        {{ form(form, {attr: {novalidate: 'novalidate' } }) }}
        {{ form_javascript(form) }}
    </div>
{% endblock %}