{% block layout %}
    <div class="row">
        {% set class = 'col-md-' ~ first.size|default(4) ~ (first.offset|default('') ? ' col-md-offset-' ~ first.offset : '') %}
        <div class="{{ class }}">
            {% block first %}
            {% endblock %}
        </div>
        {% set class = 'col-md-' ~ second.size|default(8) ~ (second.offset|default('') ? ' col-md-offset-' ~ second.offset : '') %}
        <div class="{{ class }}">
            {% block second %}
            {% endblock %}
        </div>
    </div>
{% endblock %}