{#
    variables:
    - items: table rows (array of objects or hashes)
    - columns: table columns ([name, format, formatOptions, class])
    - table: table configuration (caption, class, actions, header, sortable, selectable, rowActions)
#}

{% block table %}
    <table class="table table-condensed">
        {% block table_head %}
            <thead>
            <tr>
                {% for column in columns %}
                    <th>{{ column.name }}</th>
                {% endfor %}
            </tr>
            </thead>
        {% endblock %}
        {% block table_body %}
            <tbody>
            {% for item in items %}
                {% block table_row %}
                    <tr>
                        {# da se vygenerovat na zacatku a tady jen replacnout ID #}
                        {% block table_row_select %}
                            {% if columns.selectable %}
                                <td>
                                    <input type="checkbox"
                                           name="selected[]"
                                           value="{{ attribute(item, columns.selectableColumn) }}">
                                </td>
                            {% endif %}
                        {% endblock %}
                        {% block table_row_values %}
                            {% for column in columns %}
                                <td>
                                    {{ imatic_view_format(attribute(item, column), column.format, column.format_options) }}
                                </td>
                            {% endfor %}
                        {% endblock %}
                        {# da se vygenerovat na zacatku a tady jen replacnout ID #}
                        {% block table_row_actions %}
                            {% if columns.actions %}
                                <td>
                                    {% for action in columns.actions %}
                                        {{ imatic_view_action(action) }}
                                    {% endfor %}
                                </td>
                            {% endif %}
                        {% endblock %}
                    </tr>
                {% endblock %}
            {% endfor %}
            </tbody>
        {% endblock %}
    </table>
{% endblock %}