{% macro start(class) %}
<div class="widget {{ class }}">
{% endmacro %}

{% macro end() %}
</div>
{% endmacro %}

{% macro header_start() %}
<div class="widget-header">
{% endmacro %}

{% macro header_end() %}
</div>
{% endmacro %}

{% macro body_start() %}
<div class="widget-body">
{% endmacro %}

{% macro body_end() %}
</div>
{% endmacro %}

{% macro footer_start() %}
<div class="widget-footer">
{% endmacro %}

{% macro footer_end() %}
</div>
{% endmacro %}
